<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeshot.mapper.PostMapper">
	<select id="showPost" resultType="PostDTO">
		select * from tbl_post order by post_num desc
	</select>
	
	<select id="serchPost" parameterType="String" resultType="PostDTO">
		select * from tbl_post where POST_TITLE like %#{userInput}%
	</select>
</mapper>